@font-face {
  font-family: "Blonde";
  src: url(/assets/regular/blonde_regular-webfont.eot);
  src: url(/assets/regular/blonde_regular-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/regular/blonde_regular-webfont.woff) format("woff"), url(/assets/regular/blonde_regular-webfont.ttf) format("truetype"), url(/assets/regular/blonde_regular-webfont.svg#Blonde) format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Blonde Italic";
  src: url(/assets/italic/blonde_regular_italic-webfont.eot);
  src: url(/assets/italic/blonde_regular_italic-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/italic/blonde_regular_italic-webfont.woff) format("woff"), url(/assets/italic/blonde_regular_italic-webfont.ttf) format("truetype"), url(/assets/italic/blonde_regular_italic-webfont.svg#Blonde) format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
/* line 19, styles.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

/* line 24, styles.scss */
.horz, body#start section.cyberspace .inner, body#four-movements section.menu .inner, body#four-movements section.menu .inner .vert .wrapper, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper {
  display: table;
  margin: auto; }

/* line 28, styles.scss */
.vert, body#start section.cyberspace .inner .wrapper {
  display: table-cell;
  vertical-align: middle; }

/* line 32, styles.scss */
section {
  width: 100%;
  height: 100%; }

/* line 36, styles.scss */
.return {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 200;
  background-image: url(/day-without-art-2015/assets/images/plus.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* line 50, styles.scss */
body#start section.cyberspace .inner {
  width: 90%;
  height: 100%; }
  /* line 54, styles.scss */
  body#start section.cyberspace .inner .wrapper {
    width: 100%;
    height: auto; }
    /* line 58, styles.scss */
    body#start section.cyberspace .inner .wrapper img.text {
      cursor: pointer;
      width: 100%; }

/* line 68, styles.scss */
body#four-movements section.menu {
  position: relative;
  height: calc(100% - 120px);
  padding: 60px 0; }
  /* line 72, styles.scss */
  body#four-movements section.menu .title {
    position: absolute;
    width: auto;
    height: 40px;
    top: 20px;
    left: 20px; }
  /* line 79, styles.scss */
  body#four-movements section.menu .inner {
    width: 40%;
    height: 100%; }
    /* line 83, styles.scss */
    body#four-movements section.menu .inner .vert, body#four-movements section.menu body#start section.cyberspace .inner .wrapper, body#start section.cyberspace body#four-movements section.menu .inner .wrapper {
      width: 100%;
      height: auto; }
      /* line 86, styles.scss */
      body#four-movements section.menu .inner .vert .wrapper, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper {
        display: table;
        position: relative; }
        /* line 90, styles.scss */
        body#four-movements section.menu .inner .vert .wrapper img.positive, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper img.positive, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper img.positive {
          width: 100%; }
        /* line 93, styles.scss */
        body#four-movements section.menu .inner .vert .wrapper .menu-item, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item {
          position: absolute;
          display: none;
          cursor: default;
          background-color: #000;
          -webkit-transition: background-color 100ms ease;
                  transition: background-color 100ms ease; }
          /* line 99, styles.scss */
          body#four-movements section.menu .inner .vert .wrapper .menu-item:hover, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item:hover, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item:hover {
            background-color: #b2080e;
            display: table;
            cursor: pointer; }
          /* line 104, styles.scss */
          body#four-movements section.menu .inner .vert .wrapper .menu-item.active, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item.active, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item.active {
            display: block; }
          /* line 107, styles.scss */
          body#four-movements section.menu .inner .vert .wrapper .menu-item img, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item img, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item img {
            width: auto;
            height: 30px;
            mix-blend-mode: screen;
            vertical-align: bottom; }
          /* line 113, styles.scss */
          body#four-movements section.menu .inner .vert .wrapper .menu-item.i, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item.i, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item.i {
            bottom: calc(100% + 10px);
            left: calc(50% - 55px); }
          /* line 117, styles.scss */
          body#four-movements section.menu .inner .vert .wrapper .menu-item.ii, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item.ii, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item.ii {
            top: calc(50% - 30px);
            left: calc(100% + 10px); }
          /* line 121, styles.scss */
          body#four-movements section.menu .inner .vert .wrapper .menu-item.iii, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item.iii, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item.iii {
            top: calc(100% + 10px);
            left: calc(50% - 65px); }
          /* line 125, styles.scss */
          body#four-movements section.menu .inner .vert .wrapper .menu-item.iv, body#four-movements section.menu body#start section.cyberspace .inner .wrapper .wrapper .menu-item.iv, body#start section.cyberspace body#four-movements section.menu .inner .wrapper .wrapper .menu-item.iv {
            top: calc(50% - 15px);
            right: calc(100% + 10px); }

/* line 137, styles.scss */
body.movement .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }
/* line 150, styles.scss */
body.movement#i {
  overflow: hidden;
  background: black; }
/* line 156, styles.scss */
body.movement#ii .grid .image {
  width: 25%;
  height: 200px;
  display: table;
  float: left;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
          transition: opacity 200ms ease-in-out; }
  /* line 164, styles.scss */
  body.movement#ii .grid .image .center {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: auto; }
    /* line 169, styles.scss */
    body.movement#ii .grid .image .center img {
      width: 100%;
      height: auto; }
  /* line 174, styles.scss */
  body.movement#ii .grid .image.loaded {
    opacity: 0.2; }
  /* line 177, styles.scss */
  body.movement#ii .grid .image.loaded:hover {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    opacity: 0.4; }
  /* line 181, styles.scss */
  body.movement#ii .grid .image.clicked {
    opacity: 1; }
  /* line 184, styles.scss */
  body.movement#ii .grid .image.zoom {
    -webkit-transition: opacity 0ms ease-in-out;
            transition: opacity 0ms ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }
    /* line 192, styles.scss */
    body.movement#ii .grid .image.zoom:hover {
      cursor: -webkit-zoom-out;
      cursor: zoom-out;
      opacity: 1; }
  @media screen and (max-width: 720px) {
    /* line 156, styles.scss */
    body.movement#ii .grid .image {
      width: 33.33%; } }
  @media screen and (max-width: 480px) {
    /* line 156, styles.scss */
    body.movement#ii .grid .image {
      width: 50%; } }
/* line 207, styles.scss */
body.movement#iii {
  overflow: hidden;
  background: black; }
/* line 213, styles.scss */
body.movement#iv .wrapper {
  width: 100%;
  height: 100%;
  min-height: 480px;
  overflow: hidden; }
  @media screen and (max-width: 780px) {
    /* line 213, styles.scss */
    body.movement#iv .wrapper {
      overflow: auto; } }
  /* line 221, styles.scss */
  body.movement#iv .wrapper .essex {
    width: auto;
    height: 100%;
    float: left;
    background-color: white;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    position: relative;
    vertical-align: bottom; }
    /* line 231, styles.scss */
    body.movement#iv .wrapper .essex img {
      opacity: 0;
      width: auto;
      height: 100%; }
    /* line 236, styles.scss */
    body.movement#iv .wrapper .essex .vital {
      position: absolute;
      z-index: 200; }
      /* line 239, styles.scss */
      body.movement#iv .wrapper .essex .vital:hover {
        cursor: pointer; }
      /* line 242, styles.scss */
      body.movement#iv .wrapper .essex .vital.mouth {
        width: 14vh;
        height: 10vh;
        left: 30vh;
        top: 59vh; }
      /* line 248, styles.scss */
      body.movement#iv .wrapper .essex .vital.ear {
        width: 10vh;
        height: 14vh;
        left: 9vh;
        top: 39vh; }
      /* line 254, styles.scss */
      body.movement#iv .wrapper .essex .vital.eye-1 {
        width: 10vh;
        height: 6vh;
        left: 25vh;
        top: 41vh; }
      /* line 260, styles.scss */
      body.movement#iv .wrapper .essex .vital.eye-2 {
        width: 8vh;
        height: 6vh;
        left: 42vh;
        top: 42vh; }
  /* line 269, styles.scss */
  body.movement#iv .wrapper .names {
    max-width: 1280px;
    height: 100%;
    padding: 0 30px 100px 0;
    display: block;
    overflow: auto;
    position: relative; }
    @media screen and (max-width: 780px) {
      /* line 269, styles.scss */
      body.movement#iv .wrapper .names {
        height: auto;
        overflow: visible; } }
    /* line 280, styles.scss */
    body.movement#iv .wrapper .names .name {
      min-width: 100px;
      height: 50px;
      width: auto;
      display: block;
      float: left;
      margin: 20px 0; }
      /* line 287, styles.scss */
      body.movement#iv .wrapper .names .name .audio {
        display: table;
        height: 50px;
        cursor: pointer; }
      /* line 292, styles.scss */
      body.movement#iv .wrapper .names .name img {
        height: 100%;
        display: table; }
      /* line 296, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(1) {
        width: 50%; }
        /* line 298, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(1) .audio {
          margin-left: 10%; }
      /* line 302, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(2) {
        width: 50%; }
        /* line 304, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(2) .audio {
          float: right;
          margin-right: 10%; }
      /* line 309, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(3) {
        width: 100%; }
        /* line 311, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(3) .audio {
          margin: auto; }
      /* line 315, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(4) {
        width: 50%; }
      /* line 318, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(5) {
        width: 50%; }
        /* line 320, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(5) .audio {
          float: right; }
      /* line 324, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(6) {
        width: 100%; }
        /* line 326, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(6) .audio {
          margin: auto; }
      /* line 330, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(7) {
        width: 50%; }
      /* line 333, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(8) {
        width: 50%; }
      /* line 336, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(9) {
        width: 100%; }
        /* line 338, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(9) .audio {
          float: right; }
      /* line 342, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(10) {
        width: 100%; }
        /* line 344, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(10) .audio {
          margin-left: 25%; }
      /* line 348, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(11) {
        width: 100%; }
        /* line 350, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(11) .audio {
          float: right;
          margin-right: 20%; }
      /* line 355, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(12) {
        width: 100%; }
      /* line 358, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(13) {
        width: 100%; }
        /* line 360, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(13) .audio {
          float: right;
          margin-right: 15%; }
      /* line 365, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(14) {
        width: 100%; }
        /* line 367, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(14) .audio {
          margin-left: 10%; }
      /* line 371, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(15) {
        width: 50%; }
      /* line 374, styles.scss */
      body.movement#iv .wrapper .names .name:nth-child(16) {
        width: 50%; }
        /* line 376, styles.scss */
        body.movement#iv .wrapper .names .name:nth-child(16) .audio {
          float: right;
          margin-right: 25%; }
      @media screen and (max-width: 1050px) {
        /* line 280, styles.scss */
        body.movement#iv .wrapper .names .name {
          width: 100% !important; }
          /* line 383, styles.scss */
          body.movement#iv .wrapper .names .name .audio {
            margin: auto !important;
            float: none !important; } }
    /* line 389, styles.scss */
    body.movement#iv .wrapper .names .credit {
      padding-top: 60px;
      width: 100%;
      display: table; }
      /* line 393, styles.scss */
      body.movement#iv .wrapper .names .credit img {
        float: right;
        height: 70px; }

/* line 402, styles.scss */
#credits {
  display: table; }
  /* line 404, styles.scss */
  #credits section {
    max-width: 800px;
    width: calc(100% - 100px);
    font-family: 'Blonde';
    padding: 50px;
    font-size: 17px; }
    /* line 410, styles.scss */
    #credits section em {
      font-family: "Blonde Italic"; }
    /* line 413, styles.scss */
    #credits section p {
      line-height: 25px; }
    /* line 416, styles.scss */
    #credits section a {
      color: black; }
